[tool.black]
line-length = 120
target-version = ['py37', 'py38']
exclude = '''
(
  /(
    | front
    | env
    | venv
    | .venv
    | out
    | .+/migrations
  )/
)
'''



[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 120
skip = ['front', 'env', 'venv', '.venv', 'out', 'migrations', 'docs']


[tool.mypy]
python_version = "3.13"
exclude = "(front|env|venv|.venv|out|migrations|tests|docs)"

disallow_untyped_calls = false
disallow_untyped_defs = false
disallow_incomplete_defs = false
disallow_untyped_decorators = false

warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_return_any = true
warn_unreachable = true

strict_equality = true

show_error_codes = true
pretty = true

warn_unused_configs = true
ignore_missing_imports = true

# flake8 config is in setup.cfg, as flake8 ignores pyproject.toml
