# Framework
Django==4.2.13
psycopg2-binary==2.9.9
pytz==2024.1
requests==2.32.3
djangorestframework==3.15.2
django-grappelli==4.0.1
django-countries==7.6.1
django-rest-swagger==2.2.0
django-filter==24.2
django-allauth==0.63.3
dj-rest-auth==6.0.0
django-ical==1.9.2
django-cors-headers==4.4.0
django-property-filter==1.2.0


# Date
arrow==1.3.0

# SSL
cryptography==42.0.8
bcrypt==4.1.3

# Parsers
yamlreader==3.0.4

# Testing
coverage==7.5.4
factory-boy==3.3.0
Faker==26.0.0
mock==5.1.0
requests-mock==1.12.1

# Code Quality
flake8==7.1.0
isort==5.13.2
autopep8==2.3.1
mypy==1.10.1
types-pytz==2024.1.0.20240417
pur==7.3.2
black==24.4.2
typing_extensions==4.12.2



