<form name="{{ form.form_name }}" method="post" action="." novalidate ng-controller="AddCertificateCtrl">
<div class="modal-body">
  <div class="row">
   <div class="col-md-12">
    <div ng-show="{{ form.form_name }}.$message" ng-cloak>Please correct:</div>
   	<div class="bg-danger" ng-show="{{ form.form_name }}.$message" ng-cloak>
	    <ul class="djng-form-errors" ng-show="{{ form.form_name }}.$dirty" ng-cloak></ul>
	    <ul class="djng-form-errors" ng-show="{{ form.form_name }}.$pristine" ng-cloak>
	     <li ng-show="{{ form.form_name }}.$message" class="invalid" ng-bind="{{ form.form_name }}.$message"></li>
	    </ul>
	</div>
	<br/>
   </div>
  </div>
  <div class="row">
    <div class="col-md-6" >
     <div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Subject</h3>
	  </div>
	  <div class="panel-body">
  		  <div class="form-group">
		   {{ form.dn.as_div }}
		  </div> 
	  </div>
	 </div>
	</div>
    <div class="col-md-6" >
     <div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Properties</h3>
	  </div>
	  <div class="panel-body">
 		  <div class="form-group">
		   {{ form.as_div }}
		  </div>
	  </div>
	 </div>    
    </div>
  </div>
</div>
<div class="modal-footer "> 
  	<button type="button" ng-disabled="{{ form.form_name }}.$invalid" class="btn btn-warning btn-lg btn-block" ng-click="submit()"><span class="glyphicon glyphicon-ok-sign"></span> {% block button_text %}{% endblock %}</button>
</div>
</form>
   


