psql:
  dbname: bounca
  username: bounca
  password: changeit
  host: localhost
  port: 5432

django:
  debug: False
  secret_key: '<value-django-secret-just-a-random-salt-string>'
  hosts:
    # add your hosts here
    - localhost
    - 127.0.0.1

mail:
  host: localhost
  # port: 587 optionally, only for tls and ssl
  # username: <user>
  # password: <password>
  # connection: none # allowed values: none, tls, ssl
  admin: admin@example.com
  from: no-reply@example.com

certificate-engine:
  # allowed values: ed25519, rsa
  key_algorithm: ed25519

registration:
  # allowed values: mandatory, optional, off
  email_verification: off
