<v-card-text>
    <ValidationObserver ref="form" v-slot="{ errors }">
          <v-form>
            <ValidationProvider name="non_field_errors" vid="non_field_errors">
              <v-alert
                text
                dense
                color="error"
                icon="mdi-alert-octagon-outline"
                border="left"
                {% autoescape off %}v-if="errors.non_field_errors && errors.non_field_errors.length"{% endautoescape %}

              >
              <div v-for="error in errors.non_field_errors" :key="error">{% verbatim %}{{error}}{% endverbatim %}</div>
              </v-alert>
            </ValidationProvider>
{% for field in form %}
    {% include field_template %}
{% endfor %}
          </v-form>
    </ValidationObserver>
</v-card-text>
