{%verbatim%}
<div id="login_view" ng-controller="LoginCtrl">
 <div class="form-login">
  <h4>Welcome back.</h4>
	  <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
	    <div class="form-group">
	      <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control input-lg" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
	    <div class="form-group">
	      <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control input-lg" required />
	    </div>
	    <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
	    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
	    <div class="alert alert-danger" ng-if="error">{{error}}</div>
	    <button type="submit" class="btn  btn-block btn-lg btn-primary">Login</button>
	  </form>
		<!-- <a href="#" class="btn btn-sm btn-default forgot">Forgot your password?</a>-->
  </div>
  <div class="center">
	<a href="#/register">Click here to register.</a>
  </div>
</div>
{%endverbatim%}