{% load i18n %}{% load staticfiles %}{% load version_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Repleo, Jeroen Arnoldus <jeroen@repleo.nl>">

    <title>BounCA (release: {%bounca_version%}) - Your Own Chain of Trust</title>

    <link href="{% static "libs/bootstrap/3.3.5/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bounca/css/app.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="{% static "libs/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
      <script src="{% static "libs/respond/1.4.2/respond.min.js" %}"></script>
    <![endif]-->
    
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "bounca/img/ico/apple-touch-icon-57x57.png" %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static "bounca/img/ico/apple-touch-icon-60x60.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "bounca/img/ico/apple-touch-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static "bounca/img/ico/apple-touch-icon-76x76.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "bounca/img/ico/apple-touch-icon-114x114.png" %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static "bounca/img/ico/apple-touch-icon-120x120.png" %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static "bounca/img/ico/apple-touch-icon-144x144.png" %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static "bounca/img/ico/apple-touch-icon-152x152.png" %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "bounca/img/ico/apple-touch-icon-180x180.png" %}">
	<link rel="icon" type="image/png" href="{% static "bounca/img/ico/favicon-32x32.png" %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static "bounca/img/ico/android-chrome-192x192.png" %}" sizes="192x192">
	<link rel="icon" type="image/png" href="{% static "bounca/img/ico/favicon-96x96.png" %}" sizes="96x96">
	<link rel="icon" type="image/png" href="{% static "bounca/img/ico/favicon-16x16.png" %}" sizes="16x16">
	<link rel="manifest" href="{% static "bounca/img/ico/manifest.json" %}">
	<link rel="mask-icon" href="{% static "bounca/img/ico/safari-pinned-tab.svg" %}" color="#5bbad5">
	<link rel="shortcut icon" href="{% static "bounca/img/ico/favicon.ico" %}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="{% static "bounca/img/ico/mstile-144x144.png" %}">
	<meta name="msapplication-config" content="{% static "bounca/img/ico/browserconfig.xml" %}">
	<meta name="theme-color" content="#ffffff">

  </head>
  <body ng-app="angularDjangoRegistrationAuthApp" ng-controller="MasterCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <!--   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
			<a class="navbar-brand" href="https://www.bounca.org/" target="_blank">
				  <img class="logo-button left" src="/static/bounca/img/BounCA-logo.png">
				  <div class="text left">
					  <div class="brand">BounCA</div>
					  <div class="version">{%bounca_version%}</div>
				  </div>
			</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
{% verbatim %}
          <ul class="nav navbar-nav navbar-right">
            <li>
            	<div ng-if="!authenticated" >
            		<p class="navbar-text" id="navbar-account-info">You are not logged in</p>
            	</div>
				<div ng-if="authenticated" >
					<p class="navbar-text" id="navbar-account-info">Welcome {{ name }}</p>
					<a ng-show="authenticated" ng-click="logout()" class="btn btn-primary">Logout</a>
				</div>
            </li>
          </ul>
{% endverbatim %}
        </div>
      </div>
    </nav>
    
    <!-- 
	<div class="navcontainer">
		<div class="row">

				<div class="innernavcontainer">
				</div>
		</div>
	</div>
-->
{% block content %}
{% endblock %}

    <script src="{% static "libs/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "libs/bootstrap/3.3.5/js/bootstrap.min.js" %}"></script>
    <script src="{% static "libs/misc/js/ie10-viewport-bug-workaround.js" %}"></script> 
    
    <script src="{% static "libs/underscore/underscore-min.js" %}"></script>
	<script src="{% static "libs/angular/angular.min.js" %}"></script>
    <script src="{% static "libs/angular-resource/angular-resource.min.js" %}"></script>
    <script src="{% static "libs/angular-cookies/angular-cookies.min.js" %}"></script>
    <script src="{% static "libs/angular-sanitize/angular-sanitize.min.js" %}"></script>
    <script src="{% static "libs/angular-route/angular-route.min.js" %}"></script>
    <script src="{% static "libs/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" %}"></script>

    
	<script src="{% static "bounca/js/app.js" %}"></script>
    <script src="{% static "bounca/js/controllers/main.js" %}"></script>
    <script src="{% static "bounca/js/controllers/register.js" %}"></script>
    <script src="{% static "bounca/js/controllers/passwordreset.js" %}"></script>
    <script src="{% static "bounca/js/controllers/passwordresetconfirm.js" %}"></script>
    <script src="{% static "bounca/js/controllers/login.js" %}"></script>
    <script src="{% static "bounca/js/controllers/verifyemail.js" %}"></script>
    <script src="{% static "bounca/js/controllers/logout.js" %}"></script>
    <script src="{% static "bounca/js/controllers/userprofile.js" %}"></script>
    <script src="{% static "bounca/js/controllers/passwordchange.js" %}"></script>
    <script src="{% static "bounca/js/services/djangoAuth.js" %}"></script>
    <script src="{% static "bounca/js/services/validate.js" %}"></script>
    <script src="{% static "bounca/js/controllers/master.js" %}"></script>
    <script src="{% static "bounca/js/controllers/restricted.js" %}"></script>
    

    <script src="{% static "bounca/js/djng/django-angular.min.js" %}"></script>	    
    <script src="{% static "bounca/js/controllers/dashboard.js" %}"></script>	
	
{% block footscript %}

{% endblock %}

<script>

</script>
	
	<footer class="footer">
      <div class="container">
      	<div class="row">
      		<div class="col-sm-9">
	        	<p class="text-muted">by <a href="https://www.repleo.nl" target="_blank" >Repleo</a>, the Netherlands.</p>
      		</div>
      		<div class="col-sm-2">
      			<div class="pull-right">
	      			<a class="btn btn-default btn-footer" href="/api/docs" target="_blank">API Docs</a>
      			</div>
      		</div>
      		<div class="col-sm-1">
      			<div class="">
	      			<a class="btn btn-default btn-footer" href="/api/docs" target="_blank">Manual</a>
      			</div>
      		</div>
        </div>
        
        
        
      </div>
    </footer>
    
  </body>
</html>

