@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Raleway);


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 130px;
  margin-bottom: 60px;
  font-family: 'Raleway', sans-serif;
}

p {
  padding-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-right: 0px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.btn-footer{
	margin-top: 13px;
	width: 90px;
	background-color: #f5f5f5;
	color: #777;

}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.navbar {
	height: 53px;
}

.navbar-right {
	padding: 9px;
}

.navbar-brand {
    display: block;
}

.navbar-brand>img {
    height: 100px;
}



.navbar-brand .text{
	padding-top: 17px;
	margin-left: 5px;
}

.navbar-brand .text .brand{
	font-size: 41px;
	color: rgb(23, 23, 23);
}
.navbar-brand .text .version{
    font-size: 14px;
    color: rgb(120, 54, 46);
}


.navbar-brand {
    font-family: 'Special Elite', cursive;
}

.navbar-default .red {
  color: red;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.fixed-row{ 
	height:50px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}



.container .text-muted {
  margin: 20px 0;
}

 .row {
     position: relative;
 }
  
.bottom-aligned-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.left {
	float: left;
}

.margin-left{
	margin-left: 5px
}

.pagination {
	margin-bottom: 0;
	margin-top: 0;
}


.add-text-table{
    margin-top: 6px;
}

@media (min-width: 768px) {
	.add-button-table{
	    margin-top: 4px;
		padding-right: 32px;
	}
}

@media (min-width: 1200px) {
	.add-button-table{
	    margin-top: 4px;
		padding-right: 39px;
	}
}

.cert-path{
	font-size: 20px;
}

/* login */

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.p-info {
	padding: 15px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.center {
    text-align: center;
}

/* end login */


/*  django-angularjs forms */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

form .ng-valid,
form .ng-valid-bound.ng-pristine,
form .ng-valid.ng-dirty {
	border-color: #31c244;
}

form .ng-valid:focus,
form .ng-valid-bound.ng-pristine:focus,
form .ng-valid.ng-dirty:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #31c244;
}

form.ng-submitted .ng-invalid,
form .ng-invalid-bound.ng-pristine,
form .ng-invalid.ng-dirty {
	border-color: #e9322d;
}

form.ng-submitted .ng-invalid:focus,
form .ng-invalid-bound.ng-pristine:focus,
form .ng-invalid.ng-dirty:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
label.djng-field-required::after {
	content: "\00a0*";
}
ul.djng-form-errors, ul.djng-field-errors {
	display: inline-block;
	list-style-type: none;
	margin: 0 0 0 0; 
	padding: 0;
}
ul.djng-form-errors li, ul.djng-field-errors li {
	color: #e9322d;
}
ul.djng-field-errors li.invalid::before {
	content: "\2716";
	margin-right: 10px;
}



ul.djng-field-errors li.valid {
	border-color: #00ff00;
}

.form-group {
    margin-bottom: 4px; 
}

div.bg-danger {
	padding: 15px;	
}

.help-block {
    display: block;
    margin: 5px;
    font-size: 12px;
    color: #5d2d26;
    height: 35px;
} 

.control-label {
	font-size: 16px;
}

.djng-line-spreader {
	display: none;	
}
.modal-footer {
	padding-left: 30px;	
	padding-right: 30px;
}

.modal-body {
	padding-left: 30px;	
	padding-right: 30px;
}

.modal-dialog {
    width: 1100px;
}
/* end django-angularjs forms */