{% load djng_tags %}
{% verbatim %}


<div class="container">
  <div class="row">
	<div class="col-md-12 text-center">
      <h2 ng-if="!parent">Your Certificate Authorities</h2>
      <h2 ng-if="parent"><span ng-if="parent.type=='R'">Root</span><span ng-if="parent.type=='I'">Intermediate</span> certificate ({{parent.name}})</h2>
    </div>
  </div>
  <div class="row">
	<div class="col-md-12">
      <div ng-if="parent" class="cert-path">
      	<span>/<a href="#/dashboard/">root</a></span>
      	<span ng-repeat="cert in parent.cert_path track by cert.id" >/<a href="#/dashboard/{{cert.id}}">{{cert.shortname}}</a></span>
      </div>
    </div>
  </div>
  <div class="row">
	<div class="col-md-12">
      <div class="table-responsive">
		<table id="mytable" class="table table-bordred table-striped">
            <thead>
	             <th class="col-md-2">Name</th>
	             <th class="col-md-4">Common Name</th>
	             <th class="col-md-2">E-mail</th>
	             <th class="col-md-1">Expires at</th>
	             <th class="col-md-1">Actions</th>	
	        </thead>
		    <tbody>
		      <tr ng-repeat="cert in certs track by cert.id">
		      
		         <td class="vert-align">
		         	<span class="label label-danger" ng-if="cert.type=='R'"><span class="glyphicon glyphicon-tower"></span></span>
		         	<span class="label label-warning " ng-if="cert.type=='I'"><span class="glyphicon glyphicon-certificate"></span></span>
		         	<span class="label label-primary " ng-if="cert.type=='S'"><span class="glyphicon glyphicon-hdd"></span></span>
		         	<span class="label label-success " ng-if="cert.type=='C'"><span class="glyphicon glyphicon-user"></span></span>
		         	{{ cert.shortname|limitTo:15 }}
		         </td>
		         <td class="vert-align">{{ cert.dn.commonName|limitTo:75 }}</td>
		         <td class="vert-align">{{ cert.dn.emailAddress|limitTo:30 }}</td>
		         <td class="vert-align" ng-if="!cert.revoked">{{ cert.expires_at|date:"yyyy-MM-dd" }}</td>
		         <td class="vert-align" ng-if="!cert.revoked && !cert.expired">
		         	<p class="left" data-placement="top" data-toggle="tooltip" title="Download public certificate"><a class="btn btn-default btn-xs" href="/api/v1/certificates/files/{{cert.id}}"><span class="glyphicon glyphicon-download-alt"></span></a></p>
		         	<p class="left margin-left" data-placement="top" data-toggle="tooltip" title="Detail info">
		         		<button class="btn btn-default btn-xs" data-title="New" data-toggle="modal" data-target="#cert-info-modal" data-certname="{{cert.name}}" data-certid="{{cert.id}}"><span class="glyphicon glyphicon-info-sign"></span></button>
		         	</p>
		         	<p class="left margin-left" data-placement="top" data-toggle="tooltip" title="Manage signed certificates" ng-if="cert.type=='R' || cert.type=='I'"><a class="btn btn-primary btn-xs" href="#/dashboard/{{cert.id}}"><span class="glyphicon glyphicon-pencil"></span></a></p>
		         	<p class="left margin-left" data-placement="top" data-toggle="tooltip" title="Manage signed certificates" ng-if="cert.type=='S' || cert.type=='C'">
		         		<button class="btn btn-danger btn-xs" data-title="New" data-toggle="modal" data-target="#revoke-cert" data-certname="{{cert.name}}" data-certid="{{cert.id}}"><span class="glyphicon glyphicon-trash"></span></button>
		         	</p>
		         </td>
		         <td class="vert-align" ng-if="cert.revoked"><span class="text-danger">{{ cert.revoked_at|date:"yyyy-MM-dd" }}</span></td>
		         <td class="vert-align" ng-if="cert.revoked"><span class="text-danger">REVOKED</span></td>
		         <td class="vert-align" ng-if="cert.expired && !cert.revoked"><span class="text-warning">EXPIRED</span></td>

		      </tr>
		    </tbody>        
		</table> 
      </div>
	</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9" style="padding-left: 0px;">
   		<uib-pagination items-per-page="10" total-items="pagination.totalItems" ng-model="pagination.page" max-size="pagination.maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
    </div>
	<div class="col-md-1">
		<div class="pull-right add-text-table">
		Add:
		</div>
	</div>
	<div class="col-md-2">
		<div class="pull-right add-button-table " ng-if="!parent">
			<p data-placement="top" data-toggle="tooltip" title="Create Root Certificate">
				<button class="btn btn-danger btn-xs" data-title="New" data-toggle="modal" data-target="#new-root-cert"><span class="glyphicon glyphicon-tower"></span></button>
			</p>
		</div>
		<div class="pull-right add-button-table" ng-if="parent.type=='R'">
			<p data-placement="top" data-toggle="tooltip" title="Create Intermediate Certificate">
				<button class="btn btn-warning btn-xs" data-title="New" data-toggle="modal" data-target="#new-intermediate-cert"><span class="glyphicon glyphicon-certificate"></span></button>
			</p>
		</div>
		<div class="pull-right add-button-table" ng-if="parent.type=='I'">
			<p class="left margin-left" data-placement="top" data-toggle="tooltip" title="Create Intermediate Certificate">
				<button class="btn btn-warning btn-xs" data-title="New" data-toggle="modal" data-target="#new-intermediate-cert"><span class="glyphicon glyphicon-certificate"></span></button>
			</p>
			<p class="left margin-left" data-placement="top" data-toggle="tooltip" title="Create Client Certificate">
				<button class="btn btn-success btn-xs" data-title="New" data-toggle="modal" data-target="#new-client-cert"><span class="glyphicon glyphicon-user"></span></button>
			</p>
			<p class="left margin-left" data-placement="top" data-toggle="tooltip" title="Create Server Certificate">
				<button class="btn btn-primary btn-xs" data-title="New" data-toggle="modal" data-target="#new-server-cert"><span class="glyphicon glyphicon-hdd"></span></button>
			</p>
		</div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row"><br/></div>
</div>
<!-- 
<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
                
                		         	<span class="label label-danger" ng-if="cert.type=='R'"><span class="glyphicon glyphicon-tower"></span></span>
		         	<span class="label label-warning " ng-if="cert.type=='I'"><span class="glyphicon glyphicon-certificate"></span></span>
		         	<span class="label label-primary " ng-if="cert.type=='S'"><span class="glyphicon glyphicon-hdd"></span></span>
		         	<span class="label label-success " ng-if="cert.type=='C'"><span class="glyphicon glyphicon-user"></span></span>
            </div>
            

-->
 

<div class="modal fade" id="new-root-cert" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		  <h3 class="modal-title custom_align" id="Heading" >Add new Root Certificate</h3>
		</div>
		  <ng-include src="getRootCertForm()"></ng-include>      
    </div>
  </div>
</div>

<div class="modal fade" id="new-intermediate-cert" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		  <h3 class="modal-title custom_align" id="Heading" >Add new Intermediate Certificate</h3>
		</div>
		  <ng-include src="getIntermediateCertForm()"></ng-include>
		    
    </div>
  </div>
</div>

<div class="modal fade" id="new-client-cert" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		  <h3 class="modal-title custom_align" id="Heading" >Add new Client Certificate</h3>
		</div>
		  <ng-include src="getClientCertForm()"></ng-include>     
    </div>
  </div>
</div>

<div class="modal fade" id="new-server-cert" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		  <h3 class="modal-title custom_align" id="Heading" >Add new Server Certificate</h3>
		</div>
		  <ng-include src="getServerCertForm()"></ng-include>      
    </div>
  </div>
</div>

<div class="modal fade" id="cert-info-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		  <h3 class="modal-title custom_align" id="cert-info-commonname" ></h3>
		</div>
		<div class="modal-body">
		  <div class="row">
		   <div class="col-md-10 col-md-offset-1">
		   	<pre><code id="cert-info-text">
		   	</code></pre>
		   </div>
		  </div>
		</div>
		<div class="modal-footer "> 

		  <div class="row">
		   <div class="col-md-4 col-md-offset-8">
		     <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal" aria-hidden="true">Close</button>
		   </div>
		  </div>

		</div>
    </div>
  </div>
</div>
<script>
$('#cert-info-modal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget);
	  var cert_name = button.data('certname');
	  var cert_id = button.data('certid'); 
	  var modal = $(this)

	  modal.find('#cert-info-commonname').text("Certicate info: "+cert_name);
	  $.get( "/api/v1/certificates/info/"+cert_id, function( data ) {
		  modal.find('#cert-info-text').text(data);
	  });
	  
})
</script>



<div class="modal fade" id="revoke-cert" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		  <h3 class="modal-title custom_align" id="Heading" >Are you sure you want to revoke the certificate?</h3>
		</div>
		<ng-include src="getCertRevokeForm()"></ng-include>      
    </div>
  </div>
</div>
<script>
$('#revoke-cert').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget);
	  var cert_name = button.data('certname');
	  var cert_id = button.data('certid');
	  
	  var modal = $(this)

	  modal.find('#cert-revoke-commonname').text("Certifcate: " +cert_name);
	  modal.find('#modal-revoke-button').attr("data-cert-id",cert_id);
})
</script>


<div class="modal fade" id="process-busy-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
		</div>
		<div class="modal-body">
			<h3 class="modal-title custom_align" id="Heading" >Please wait while your request is being processed</h3>
		</div>
		<div class="modal-footer ">
		</div>
    </div>
  </div>
</div>
{% endverbatim %}



 