{% verbatim %}

<div ng-if="!authenticated">

	<div class="container">
	    <div class="row">
	        <div class="col-md-offset-4 col-md-5">	        	
	        	<div id="login_view" ng-controller="LoginCtrl">
		            <div class="form-login">
		            <h4>Welcome back.</h4>
					  <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
					    <div class="form-group">
					      <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control input-lg" required />
					    </div>
					    <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
					    <div class="form-group">
					      <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control input-lg" required />
					    </div>
					    <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
					    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
					    <div class="alert alert-danger" ng-if="error">{{error}}</div>
					    <button type="submit" class="btn  btn-block btn-lg btn-primary">Login</button>
					  </form>
						<!-- <a href="#" class="btn btn-sm btn-default forgot">Forgot your password?</a>-->
					</div>
					<div class="center">
						<a href="#/register">Click here to register.</a>
					</div>
				</div>
	        </div>
	    </div>
	</div>

</div>

{% endverbatim %}


<!--  
<div id="register_view" ng-controller="RegisterCtrl">
    <div ng-if="complete == false">
        <form role="form" ng-if="authenticated != true" name="registerForm" ng-submit="register(registerForm)" novalidate>
            <div class="form-group">
                <label for="id_username">Username</label>
                <input name="username" id="id_username" class="form-control" type="text" ng-model="model.username" placeholder="Username" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input name="password1" id="id_password1" class="form-control" type="password" ng-model="model.password1" placeholder="Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password1">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Repeat Password</label>
                <input name="password" id="id_password2" class="form-control" type="password" ng-model="model.password2" placeholder="Repeat Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.password2">{{error}}</div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="model.email" placeholder="Email" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
            <button ng-hide="authenticated" type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div ng-if="complete == true">
        <div class="alert alert-success">You have registered.</div>
    </div>
</div>
</div>
-->
